<!doctype html>
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>main.html</title>
    </head>
    <body>
        <h1>ttttt</h1>

        <h3> welcome , <%= id %></h3>

        <p>bnasdoinsadodsanodasnoadsnaodsi</p>
        <img src="images/test.jpg" alt="" width="300px;">
        <script src="main.js"></script>
    </body>

</html>